<div class="container-card__portfolio">

  <%= link_to 'https://ovninb-juleschevrant.herokuapp.com', class: "link-to" do %>
    <div class="card__portfolio">
      <div class="content-card__portfolio">
          <figure>
            <%= image_tag ("ovninb.png"), class: "img-portfolio" %>
              <figcaption>Clone Airbnb</figcaption>
          </figure>
      </div>
    </div>
  <% end %>

  <%= link_to 'https://consulteo.herokuapp.com', class: "link-to" do %>
    <div class="card__portfolio">
      <div class="content-card__portfolio">
          <figure>
            <%= image_tag ("consulteo.png"), class: "img-portfolio" %>
              <figcaption>Consulteo</figcaption>
          </figure>
      </div>
    </div>
  <% end %>

  <%= link_to 'https://github.com/kevinkotcherga/kevinkotcherga-rails-book-rooms-challenge-2021-12-16', class: "link-to" do %>
    <div class="card__portfolio">
      <div class="content-card__portfolio">
          <figure>
            <%= image_tag ("certification.png"), class: "img-portfolio" %>
              <figcaption>Hotel Book</figcaption>
          </figure>
      </div>
    </div>
  <% end %>

</div>

<!-- MOVING IMAGES -->

<div class="imgDoodle5">
  <%= image_tag ("object7.png") %>
</div>

<div class="imgDoodle6">
  <%= image_tag ("object6.png") %>
</div>

<div class="imgDoodle7">
  <%= image_tag ("object6.png") %>
</div>
